body{
    background: #fff;
    text-align: center;
}
.post-panel{
    border: 1px #888 solid;
    background: #EEE;
}
.post-panel h2{
    padding: 8px;
    margin: 0;
    background: lightblue;
    border-bottom:  double #888;
}